.env
**/bin/
**/obj/
**/node_modules/
**/build/
.vs/
docker-data/
DetectiveCTF.API/wwwroot/uploads/
DetectiveCTF.API/detectivectf.db
DetectiveCTF.API/detectivectf.db-shm
DetectiveCTF.API/detectivectf.db-wal